.footer {
 background-color: $bg-secondary;
 margin-top: 2rem;
 padding-top: 2rem;
 padding-bottom: 2rem;

 &__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  grid-gap: auto;
  @include breakpoint(lg){
   grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(sm){
   grid-template-columns: 1fr;
   grid-gap: 2rem;
  }
 }

 &__heading {
  color: #fff;

 }

 &__links {
  display: flex;
  flex-direction: column;
  

  .footer__link {
   color: #fff;
   margin: 0.5rem 0;
  }
 }

 &__socials {
  display:flex;
  align-items:center;
  @include breakpoint(lg){
    grid-area: 2/2/2/2;
    text-align: center;
    margin-top: 0.5rem;
  }
 //  @include breakpoint(md){
 //   margin-top: 0.5rem;
 // }
 @include breakpoint(sm){
  grid-area: unset;
  text-align: left;
 }
  a {
   color: #fff;
   margin-left: 1rem;
   @include breakpoint(lg){
    margin-left: 0.5rem;
    margin-right: 0.5rem;
   }
  }
 }
}